:root {
  --blurple: #7289DA;
  --light-text: #ffffff;
  --dark-but-not-black: #2C2F33;
  --not-quite-black: #23272A;
}

@font-face {
font-family: 'Proxima Nova Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Light'), url('./containers/ProximaNova-Light.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Proxima Nova Light', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--not-quite-black);
  color: var(--light-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
